body {
  margin: 15px auto 0 auto;
  padding: 0 10px;
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
  max-width: 800px;
  -webkit-text-size-adjust: none;
}
a {
  text-decoration: none;
  color: #a11;
}
a:hover {
  text-decoration: underline;
}
p, li {
  line-height: 1.3;
}
.profile {
  margin: -15px -10px 0 -10px;
}
.profile p {
  border: solid 1px #ddd;
  background: #f7f7f7;
  padding: 10px;
  margin-top: 0;
}
h1 {
  margin-top: 5px;
}
.profile h1 {
  text-indent: -999px;
  overflow: hidden;
  height: 60px;
  margin: 0;
  background: url(/img/monochrome.png) no-repeat right;
}
code, pre {
  font-size: 13px;
}
pre {
  padding: 2px 5px;
  border: solid 1px #ddd;
  background: #f7f7f7;
  overflow: hidden;
}
pre:hover {
  overflow: auto;
}
pre em {
  font-family: arial, helvetica, sans-serif;
}
table pre {
  margin: 0;
  height: 100%;
}
.console {
  background: transparent;
  border: none;
}
.console:before {
  content: "> ";
  color: #aaa;
}
.jsonv {
  background: transparent;
}
code .params {
  color: #666;
}
.scroll {
  overflow: auto;
}
.git-banner {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
  background-image: url(https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png);
}
.jquery {
  color: black;
  font-size: 15px;
  font-weight: normal;
}
.jquery em {
  color: #116cb3;
  font-weight: bold;
}
.adsbygoogle {
  margin-top: 30px;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .git-banner {
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
  }
  .profile h1 {
    background-size: 302px 171px;
    height: 30px;
  }
}
