body {
  margin: 15px auto 0 auto;
  padding: 0 10px;
  font: 15px sans-serif;
  max-width: 800px;
  -webkit-text-size-adjust: none;
}
a {
  text-decoration: none;
  color: #33c;
}
a:hover {
  text-decoration: underline;
}
p, li {
  line-height: 1.3;
}
h1, h2 {
  display: none;
}
h3 {
  margin: 10px 0 5px;
  font-size: inherit;
  color: black;
}
.profile {
  font-size: 24px;
  color: #666;
  text-align: center;
}
.profile span {
  font-weight: bold;
  color: black;
}
.contact {
  text-align: center;
}
.contact a {
  display: inline-block;
  margin: 0 5px;
  color: #999;
}
.contact a:hover {
  color: #33c;
}
svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.projects {
  margin-left: -80px;
  font-size: 0;
  text-align: center;
}
a.project {
  display: inline-block;
  width: 350px;
  max-width: 82.6%;
  min-height: 195px;
  margin: 20px 0 20px 80px;
  color: #666;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
}
a.project:hover {
  text-decoration: none;
}
a.project:hover h3 {
  text-decoration: underline;
}
.project:before {
  content: "";
  display: block;
  height: 100px;
}
.project.simpljs:before {
  background: url(/img/simpljs.png) left top / 440px no-repeat;
}
.project.docjs:before {
  background: url(/img/docjs.png) -5px -48px no-repeat;
}
.project.jscc:before {
  background: url(/img/jscc.png) left 2px no-repeat;
}
.project.jsml:before {
  background: url(/img/jsml.png) left -15px no-repeat;
}
.project.jsonv:before {
  background: url(/img/jsonv.png) -24px -100px no-repeat;
}
.project.jsontable:before {
  background: url(/img/jsontable.png) -1px -1px no-repeat;
}
.project.objectdb:before {
  background: url(/img/objectdb.png) left -3px no-repeat;
}
.project.datauri:before {
  background: url(/img/datauri.png) left top no-repeat;
}
.project.json2js:before {
  background: url(/img/json2js.png) left top no-repeat;
}
.project.deviceart:before {
  background: url(/img/deviceart.png) left top / 350px no-repeat;
}
.project.webexec:before {
  background: url(/img/webexec.png) -55px -50px / 897px no-repeat;
}
.project.timesheet:before {
  background: url(/img/timesheet.png) left top / 350px no-repeat;
}
.project.charge:before {
  background: url(/img/charge-iphone-1.png) -50px -450px / 450px no-repeat;
}
.project.redict:before {
  background: url(/img/redict.png) left -33px no-repeat;
}
.project.worldcup:before {
  background: url(/img/world-cup.png) -8px top no-repeat;
}
code, pre {
  font-size: 13px;
}
pre {
  padding: 2px 5px;
  border: solid 1px #ddd;
  background: #f7f7f7;
  overflow: auto;
}
pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
pre::-webkit-scrollbar-button {
  display: none;
}
pre::-webkit-scrollbar-corner {
  background: transparent;
}
pre::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
}
pre::-webkit-scrollbar-track {
  background-clip: padding-box;
}
pre::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, .035);
}
pre::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .4);
}
pre::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, .05);
}
pre::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, .5);
}
pre em {
  font-family: arial, helvetica, sans-serif;
}
table pre {
  margin: 0;
  height: 100%;
}
.console {
  background: transparent;
  border: none;
}
.console:before {
  content: "> ";
  color: #aaa;
}
.jsonv {
  background: transparent;
}
code .params {
  color: #666;
}
.scroll {
  overflow: auto;
}
.git-banner {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
  background-image: url(https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png);
}
.jquery {
  color: black;
  font-size: 15px;
  font-weight: normal;
}
.jquery em {
  color: #116cb3;
  font-weight: bold;
}
.adsbygoogle {
  margin-top: 30px;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .git-banner {
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
  }
  .profile h1 {
    background-size: 302px 171px;
    height: 30px;
  }
}
