<!DOCTYPE html>
<html>
  <head>
    <title>kganser.com - {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/prettify.css">
  </head>
  <body>
    <a href="/">kganser.com</a>
    {{ content }}
    <script src="/js/common.js"></script>
    <script src="/js/prettify.js"></script>
  </body>
</html>
